h1 {
    margin-top:0;
}

body{
    background: grey;
    margin: 20px;
}
#bottomColour {
    background-color: orange;
    height: 50%;
    position: fixed;
    top: 65%;
    left: 0;
    width: 100%;
}

#buttonPosition {
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left:35%;
}

#buttonPosition1 {

    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left:0%;
}

#buttonPosition2 {

    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left:0%;
}

#buttonPosition3 {

    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left:0%;
}





